
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: #363636;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 200px;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
}
.sidebar a{
    font-family: 'Rock Salt', cursive;
    color: #fff;
    text-decoration: none;
}

.sidebar h2 {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
}

.sidebar .line {
    width: 100%;
    height: 1px;
    background-color: #fded09;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    font-size: .8rem;
    height: 100%;
}


.sidebar ul li {
    width: 120px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: #fced20;
    color: black;
}

.sidebar ul li.active {
    background-color: #fded09;
    color: black;
    font-weight: bold;
}
.input-container{
    position: relative;
    width: 100%;
   /* bottom: 50px; */

}

.input-container input {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}
.input-container label{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: .7rem;
    color: white;
    background-color: #363636;
    transition: 0.3s;
    cursor: pointer;

}
input:focus, input:not(:placeholder-shown){
    border-color: #fded09;
}
input:focus + label, input:not(:placeholder-shown) + label{
    top: 0;
    font-size: .6rem;

}

/* Galería */
.gallery {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    overflow-y: auto;
    grid-auto-rows: 200px;
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.footer{
    position: relative;
    font-size: .6rem;
    font-weight: 500;
    text-align: center;
    color: #b9b8b8;
}

/* Spinner */
.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.8);
    z-index: 30;
}

.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    
}

.spinner::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #fded09;
    border-left: 4px solid transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.menu{
    display: none;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.bi-list, .bi-x {
    font-size: 30px;
    color: #fff;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .sidebar {
        position: fixed;
        left: -200px;
        height: 100vh;
        transition: left 0.3s ease;
        z-index: 20;
        top: 0px;
    }

    .sidebar.active {
        left: 0;
    }
    .sidebar h1 {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 100px;
        flex-grow: 1;
    }

    .menu {
        width: 100%;
        height: 60px;
        background-color: #363636;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .menu a{
        font-family: 'Rock Salt', cursive;
        position: absolute;
        right: 10px;
        font-size: .8rem;
        color: #fff;
        text-decoration: none;
    }

    .container {
        margin-top: 60px;
    }
    .footer{
        position: relative;
        bottom: 30px;
    }
}